
.ipynb_checkpoints/Notebook_Titanic_Quem sobreviveria_v0.1-checkpoint.ipynb
*.csv
.ipynb_checkpoints/Notebook_Titanic_Quem sobreviveria_v0.1-Copy1-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Notebook_Titanic_Quem sobreviveria_v0.1-Copy1.ipynb
Untitled.ipynb
