<!DOCTYPE html>
<html lang="pt">

<style>
    form {
        margin: auto;
        width: 35%;
    }.result {
         margin: auto;
         width: 35%;
         border: 1px solid #ccc;
     }
</style>

<head>
    <meta charset="UTF-8">
    <title>Titanic - Você Sobreviveria?</title>
</head>
<body>

<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Entrada dos Dados:</legend>
        <label for="Pclass">Classe do Passageiro</label>
        <select name="Pclass" type="number" required>
            <option value="1">1º Classe</option>
            <option value="2">2º Classe</option>
            <option value="3">3º Classe</option>
        </select>
        <br>
        <br>
        <label for="Sex">Gênero do Passageiro:</label>
        <select name="Sex" type="number" required>
            <option value="10">Masculino</option>
            <option value="20">Feminino</option>
        </select>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>

<div class="result">
    <!--
    {% if result %}
    {% for variable, value in original_input.items() %}
    <b>{{ variable }}</b> : {{ value }}
    {% endfor %}    -->
    <br>
    <br> Predição da sua sobrevivência:
    <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>

</body>
</html>